body
{
    background-color: #ffffff;
    font-family: 'Vollkorn', serif;
    text-align: justify;
    overflow-y: hidden;
    color: #333;
    background-color: #fff;
    font-size:15px;
    padding-bottom: 5em;
    margin: 0;
    height: 100%;
}

a, a:visited
{
    text-decoration:none;
    color:#000;
    font-weight: bold;
}
a:hover
{
    text-decoration:underline;
}

p {
    margin: 0 0 0.5em 0;
}
p.quote {
    margin: 0 2em 0.8em 2em;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    background-color: #fff;
}

#root {
    width: 100%;
    height:100%;
}

@media only screen and (max-width : 840px) {
    #root {
        width:100%;
    }
}

table.card-display {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}
table.card-display > tbody > tr > td {
    border-spacing: 0px;
    vertical-align: middle;
    text-align: left;
    width: 33%;
}



.col-color {
    padding-left: 0.4%;
}
.path {
    margin-bottom: 1em;
}
.path-title {
    font-weight:bold;
}
.path-colors {

}
.path-colors > .col {
    display: inline-block;
    width: 25%;
}


.color-button {
    width: 95%;
    height: 95%;
    display: inline-block;
    cursor: pointer;

    webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.color-button table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}
.color-button td {
    border-spacing: 0px;
    vertical-align: middle;
    text-align: center;
}
.color-button-label {
    font-size: 0.8em;
    text-align: center;
}
.color-button canvas {

}
.color-button .nameHolder {
    position: relative;
    margin-top: -100%;
}
.color-button .effectHolder {
    width: 100%;
    height: 100%;
}
.color-name {
    font-size: 0.8em;
}




.card-title {
    margin-bottom: 0.3em;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
    width: 100%;
    margin-top: -0.6em;
}
.card {
    width: 100%;
}

.col-text {
    padding-left: 0.6em;
    padding-right: 0.6em;
    vertical-align: top;
}

.prev {
    float:left;
}
.next {
    float:right;
}