body
{
    background-color: #ffffff;
    font-family: 'Georgia', serif;
    text-align: justify;
    color: #333;
    font-size:16px;
    padding-bottom: 5em;
    margin: 0;
    height: 100%;
}

a, a:visited
{
    text-decoration:none;
    color:#000;
}
a:hover
{
    text-decoration:underline;
}

p {
    margin: 0 0 0.5em 0;
}
p.quote {
    margin: 0 2em 0.8em 2em;
}
ul {
    margin: 0;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    background-color: #fff;
}

#root {
    width: 100%;
    height:100%;
}

@media only screen and (max-width : 840px) {
    #root {
        width:100%;
    }
}


.index {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    width: 35em;
    height:auto;
}
.text-source {
    margin-bottom: 1em;
}




table.card-display {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}
table.card-display > tbody > tr > td {
    border-spacing: 0px;
    vertical-align: middle;
    text-align: left;
    width: 33%;
}



.col-color {
    padding-left: 1%;
    padding-right: 0.6%;
}
.path {
    margin-bottom: 1em;
}
.path-title {
    font-weight:bold;
}
.path-colors {

}
.path-colors > .col {
    display: inline-block;
    width: 25%;
}


.color-button {
    width: 95%;
    height: 95%;
    display: inline-block;
    cursor: pointer;

    webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.color-button table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}
.color-button td {
    border-spacing: 0px;
    vertical-align: middle;
    text-align: center;
}
.color-button-label {
    font-size: 0.8em;
    text-align: center;
}
.color-button canvas {

}
.color-button .nameHolder {
    position: relative;
    margin-top: -100%;
}
.color-button .effectHolder {
    width: 100%;
    height: 100%;
}
.color-name {
    font-size: 1em;
}
@media only screen and (max-width : 1400px) {
    .color-name {
        font-size: 0.8em;
    }
    .color-button-label {
        font-size: 0.7em;
    }
}
@media only screen and (max-width : 1150px) {
    .color-name {
        font-size: 0.7em;
    }
    .color-button-label {
        font-size: 0.6em;
    }
}
@media only screen and (max-width : 1000px) {
    .color-name {
        font-size: 0.6em;
    }
    .color-button-label {
        font-size: 0.5em;
    }
}
@media only screen and (max-width : 800px) {
    .color-name {
        font-size: 0.5em;
    }
    .color-button-label {
        font-size: 0.4em;
    }
}
@media only screen and (max-width : 740px) {
    .color-name {
        font-size: 0.4em;
    }
    .color-button-label {
        font-size: 0.3em;
    }
}
@media only screen and (max-width : 550px) {
    .color-name {
        font-size: 0.3em;
    }
    .color-button-label {
        font-size: 0.2em;
    }
}
@media only screen and (max-width : 450px) {
    .color-name {
        font-size: 0.3em;
    }
    .color-button-label {
        display: none;
    }
}



.card-title {
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
    width: 100%;
}
.card {
    width: 100%;
    margin-top: 0.4em;
}
.small-card {
    width: 100%;
    margin-bottom: 20%;
}
.small-card-holder {
    display: inline-block;
    width: 21%;
    margin-left: 2%;
    margin-right: 2%;
}

.col-text {
    padding-left: 0.6em;
    padding-right: 0.6em;
    vertical-align: top;
}

.prev {
    float:left;
}
.next {
    float:right;
}

.card-group {
    margin-top: 1em;
}
.card-group .name {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em;
}
.card-group .cards {
    text-align: center;
}





.section-header {
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
    margin-top: 1em;
}
.section-header-2 {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 1em;
}
.indent {
    margin-left: 2em;
}

.index .main-title {
    font-size: 4em;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0;
    font-family: 'Vollkorn', 'Georgia', serif;
}
.index .main-subtitle {
    font-size: 1.7em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5em;
    font-family: 'Vollkorn', 'Georgia', serif;
}

.text-list, .path-list {
    margin-top: 1em;
}
.main .subtitle {
    margin-bottom: 0.2em;
}
.quarter-col {
    width: 25%;
    float:left;
}

.index .title {
    font-size: 1.5em;
    text-align: center;
    margin-top: 1.5em;
    font-weight: bold;
    margin-bottom: 0;
    font-family: 'Vollkorn', 'Georgia', serif;
}
.index .subtitle {
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
    font-family: 'Vollkorn', 'Georgia', serif;
}

.index .color {
    font-weight: bold;
}
.white {    color: #000000;}
.black {    color: #000000;}

.red, .reddish { color: #ed1c24; }
.orange, .saffron, .flame { color: #FF6D00; }
.yellow, .golden { color: #FEDD00; }
.green { color: #00A550; }
.blue, .blewish { color: #0085ca; }
.indigo, .saphire { color: #001489; }
.violet { color: #440099; }
.purple { color: #BB29BB; }
.grey, .gray, .stone { color: #808080; }
.brown, .mud { color: #5c3312; }
.amber, .honey {color:#ffb734;}
.buff, .hempen {color:#F0DC82;}
.citrine {color:#dedb2c;}
.pale {color:#B2E79F;}
.olive {color:#8d8800;}
