body
{
    background-color: #ffffff;
    font-family: "goudy-old-style", "Vollkorn", Verdana, serif;
    text-align: justify;
    overflow-y: scroll;
    color: #333;
    background-color: #fff;
    font-size:18px;
    padding-bottom: 5em;
}


a, a:visited, a td
{
    text-decoration:none;
    color:#c00;
    font-size: 1.1em;
    font-weight: 600;
}
a:hover
{
    text-decoration:underline;
}

img.thumb {
    height: 15em;
}
a > img.thumb {
    height: 13.639em;
}

p {
    margin: 0 0 0.5em 0;
}
p.quote {
    margin: 0 2em 0.8em 2em;
}
ul {
    margin-top: 0;
}

#main {
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    height:auto;
    text-align: center;
}

#main #title {
    margin-top: 3em;
    display: inline-block;
    text-align: center;
    line-height: normal;
    font-size:18px;
    margin-bottom: 2.5em;
    font-family: "goudy-old-style";
}
#main #title .text {

}
#main #title > div {
    float:left;
}
#main #title .line1 {
    font-size: 4em;
    line-height: 1em;
    padding-right: 0.02em;
}
#main #title .line3 {
    font-size: 1.43em;
}

#main #info {
    text-align: left;
}
#main #info .section {
    margin-bottom: 2.5em;
}

.section > p {
    margin-bottom: 0.5em;
}
.section > p.sectionTitle {
    font-size: 1.5em;
    border-bottom: #ccc solid 1px;
}
span.sectionSubtitle {
    font-size: 0.6em;
    margin-left: 0.5em;
}

#liber table {
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
}
#liber td {
    padding-right: 1em;
}
#otherBooks div.list {
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}



@media only screen and (max-width : 840px) {
    #main {
        width:100%;
    }
    #main #title {
        margin-top: 1em;
    }
}

@media only screen and (max-width : 600px) {

    #main #title {
        font-size: 0.53em;
        margin-top: 0.2em;
    }
    #main #title .line3 {
        font-size: 2em;
    }
    .section > p.sectionTitle {
        font-size: 1.4em;
    }
    .section > p.sectionTitle .sectionSubtitle {
        display: block;
        margin-left: 0em;
    }

    img.thumb {
        height: 8em;
    }
    a > img.thumb {
        height: 7.2727em;
    }
    .mobileBreak {
        display: block;
    }
}

@media only screen and (max-width : 400px) {


}
